navbar {
    height: 55px;
}

#page-logo {
    width: 16px;
    height: 16px;
    margin-left: 17%;
    margin-right: 4%;
    margin-bottom: 3%;
}

#search-button {
    border-color: white;
    color: white;
}

#sidebar {
    min-height: 100vh;   
}

#sidebar-wrapper {
    padding-right: 0;
    
}

#main-wrapper {
    padding: auto;
}

#user-logo {
    width: 30px;
    height: 30px;
    margin-right: 2%;

    cursor: pointer;

    cursor: pointer;

}

#c1 {
    padding-left: 0;
}

.fa-star {
    color: darkblue;
}

.checked {
    color: orange;
}

.btn-floating {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

i {
    cursor: pointer;

}
