navbar {
    height: 55px;
}

#page-logo {
    width: 16px;
    height: 16px;
    margin-left: 17%;
    margin-right: 4%;
    margin-bottom: 3%;
}

#search-button {
    border-color: white;
    color: white;
}

#sidebar {
<<<<<<< HEAD
    min-height: 100vh;   
}

#sidebar-wrapper {
    padding-right: 0;
    
}

#main-wrapper {
    padding: auto;
=======
    min-height: 100vh;
>>>>>>> f431092 (lab04)
}

#user-logo {
    width: 30px;
    height: 30px;
    margin-right: 2%;
<<<<<<< HEAD
    cursor: pointer;
=======
>>>>>>> f431092 (lab04)
}

#c1 {
    padding-left: 0;
}

.fa-star {
    color: darkblue;
}

.checked {
    color: orange;
}

.btn-floating {
    width: 40px;
    height: 40px;
    border-radius: 50%;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 4e871ee (Finished lab04)
}

i {
    cursor: pointer;
<<<<<<< HEAD
}
=======
}
>>>>>>> f431092 (lab04)
=======
}
>>>>>>> 4e871ee (Finished lab04)
